@import 'tailwindcss';
@import '@nuxt/ui';

/* 未來如果你需要自訂顏色、字體或斷點，可以直接寫在下方的 @theme 區塊中 */
@theme {
    /* --dark: .dark; */

    /* --- Colors --- */
    --color-primary: #082c4b;
    --color-secondary: #343a40;
    --color-outline: #73777e;
    --color-error: #ba1a1a;
    --color-surface-container-lowest: #ffffff;
    --color-surface-variant: #d3e4fe;
    --color-primary-container: #082c4b;
    --color-primary-fixed-dim: #abc9f0;
    --color-surface: #f8f9ff;
    --color-on-surface: #0b1c30;
    --color-on-surface-variant: #43474e;
    --color-outline-variant: #c3c6ce;
    --color-background-light: #f8f9fa;
    --color-background-dark: #041626;

    /* --- Font Family --- */
    --font-headline: 'Inter', 'sans-serif';
    --font-body: 'Noto Sans TC', 'sans-serif';
    --font-label: 'Inter', 'sans-serif';

    /* --- Border Radius --- */
    /* 在 v4 中，DEFAULT 對應的是 --radius-md */
    /* --radius-none: 0rem;
    --radius-sm: 0.1rem;
    --radius-md: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem; */
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* 當有處於編輯狀態或展開的列時，將表格內其他列加上遮罩效果並停用點擊 */
.summary-board-container {
    @apply mx-auto flex flex-col gap-6;
}

.table-container {
    @apply overflow-hidden rounded-xl border border-slate-200 bg-white shadow-sm dark:border-slate-800 dark:bg-slate-900;
}

.table-base {
    @apply min-w-full table-auto;
}

.table-th {
    @apply bg-primary text-white dark:bg-blue-900;
}

.table-tr {
    @apply data-[expanded=true]:bg-elevated/50 transition-colors hover:bg-slate-50 dark:hover:bg-slate-800/50;
}
